<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-photoshop-plain"></i>
    <i class="devicon-illustrator-plain"></i>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-java-plain-wordmark"></i>
    <i class="devicon-python-plain-wordmark"></i>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain-wordmark"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <i class="devicon-pycharm-plain-wordmark"></i>
  </div>
</div>
